# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Model files
*.h5
*.hdf5
*.pth

# Data files
data/
samples/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/